body {
    background-color:#DB125;
    }
#fotos {
    width: 140%;
    heigth: 140%;
}
    header,footer{ 
        background-color:rgb(245, 107, 27);  
}
main {
  background-color:#fcff33;
}
h1  {
     text-align: center;
    color:#black;
}
  h3 {
    color:black;
    b { 
      color;rgb (245, 107, 27); 
   font-size: 20px;
}

