body {
    background-color :#DB125;
    }
    header,footer{ 
        background-color:rgb (245, 107, 27);  
}
main {
  background-color:#fcff33;
}
h1  {
     text-align: center;
    color:#black;
}
  h3 {
    color:black;
    b { 
      color;rgb (245, 27, 113)
   font-size: 20px;
}

